aiohttp==3.6.1
aioice==0.6.15
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.8.0
certifi==2019.9.11
chardet==3.0.4
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.0
Django==2.2.5
django-ajax-comments-xtd==0.1.1
django-appconf==1.0.3
django-bootstrap==0.2.4
django-bootstrap-base-template==0.0.2
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-toolkit==2.15.0
django-bootstrap3==11.1.0
django-bootstrap4==1.0.1
django-ckeditor==5.7.1
django-comments-dab==1.3.0
django-comments-xtd==2.0.10
django-contrib-comments==1.9.1
django-disqus==0.5
django-filebrowser==3.11.1
django-filebrowser-no-grappelli==3.7.8
django-forms-bootstrap==3.1.0
django-grappelli==2.12.3
django-js-asset==1.2.2
django-tinymce==2.8.0
django-widget-tweaks==1.4.5
djangorestframework==3.8.2
docutils==0.15.2
future==0.17.0
graphviz==0.8.4
h5py==2.10.0
idna==2.6
idna-ssl==1.1.0
imutils==0.5.3
iso3166==1.0
Jinja2==2.10.1
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
MarkupSafe==1.1.1
mock==2.0.0
multidict==4.5.2
multiprocess==0.70.8
mxnet==1.3.1
netifaces==0.10.9
networkx==2.3
numpy==1.14.5
oauthlib==3.1.0
opencv-contrib-python==4.1.0.25
pathos==0.2.2.1
pbr==5.4.3
Pillow==6.1.0
pinax-comments==1.0.3
pox==0.2.6
ppft==1.6.6.1
progressbar2==3.43.1
psycopg2-binary==2.8.3
pycryptodome==3.6.6
PyJWT==1.6.4
python-utils==2.3.0
python3-openid==3.1.0
pytz==2019.2
PyYAML==5.4
redis==3.3.8
requests==2.18.4
requests-oauthlib==1.2.0
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
sklearn==0.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
soupsieve==1.9.3
SQLAlchemy==1.2.15
SQLAlchemy-Utils==0.34.2
sqlparse==0.3.0
tow==1.0.0a13
trueface==0.6.3
typing-extensions==3.7.4
urllib3==1.22
yarl==1.3.0
