/*Overright Theme CSS*/

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #767588;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #767588;
}

/*line heading*/
.h4 {
   display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h4:before,
.h4:after {
    content: '';
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.h4:after {
    margin: 0 0 0 20px;
}


/*Overright Theme CSS*/

/*Header Search*/
.profile-page .page-header {
	min-height: 200px;
}

.login-page .page-header:before, .profile-page .page-header:before {
	background-color: transparent;
}

.advance-search{
	margin: 0;
	border: 1px solid #E3E3E3;
	border-left: none;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-radius: 30px;
}

.navbar .navbar-nav .nav-link small{
	font-size: 11px;
}

.navbar .navbar-nav .nav-link:not(.btn) {
	text-transform: none;
	font-size: 1.1em;
	padding: 0.5rem 0.7rem;
	line-height: 1.1rem;
	font-weight: 600;
	text-align: right;
}

.navbar-nav .nav-item{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
	width: 12px;
    height: 12px;
    background-color: #ffc72c;
    border-color: #ffc72c;
    top: 7px;
    left: 7px;
}

.form-check .form-check-label {
	padding-left: 30px;
	padding-right: 10px;
}

section.lost-table .table thead{
	background: #f0f4f9;
}

form label{
	color: #00778b;
	font-weight: 600;
}
.user-img{
	max-width: 35px;
	margin-right: 5px;
}

.table td, .table th {
	vertical-align: baseline;
}

.page-header:after, .page-header:before {
	z-index: -1;
}

.notification-dropdown p{
	white-space: normal;
	}

.notification-dropdown .list-group-item{
	border: none;
    padding: 0;
    background: transparent;
	}

.notification-dropdown .dropdown-item {
	border-bottom: 1px solid #f3f3f3;
}

.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 10px
}

.owl-carousel button.owl-dot span{
	background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-carousel button.owl-dot.active span{
	background: none repeat scroll 0 0 #00778b;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-carousel p{
	font-size: 14px;
	margin-top: 5px;
}

.image-upload>input {
  display: none;
}

.image-upload{
	display: inline-block;
}
.image-upload .card-image {
	border: 1px solid #E3E3E3;
	padding: 21px;
	height: 64px;
	width: 64px;
	cursor: pointer;
}
.image-upload .card-image i{
	font-size: 20px;
}

.text-instagram{
	color: magenta !important;
}
.font-sm{
	font-size: 1.1em !important;
}
.font-xs{
	font-size: 0.8em !important;
	font-weight: 500;
}
@media (min-width: 992px){
	.notification-dropdown{
		min-width: 280px;
		width: 100%;
	}

	/*line heading*/
	.h4 {
		display: flex;
		width: 40%;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.h4:before,
	.h4:after {
		content: '';
		border-top: 1px solid #ffc72c;
		margin: 0 20px 0 0;
		flex: 1 0 20px;
	}

	.h4:after {
		margin: 0 0 0 20px;
	}
}