/*Overright Theme CSS*/

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #767588;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #767588;
}

.remove-img1{
	position: absolute;
    top: 14%;
    left: 19%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 10px;
    padding: 3px 7px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    text-align: center;
}

.remove-img2{
	position: absolute;
    top: 14%;
    left: 39%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 10px;
    padding: 3px 7px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    text-align: center;
}

.remove-img3{
	position: absolute;
    top: 14%;
    left: 59%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 10px;
    padding: 3px 7px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    text-align: center;
}
.remove-img4{
	position: absolute;
    top: 14%;
    left: 19%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 10px;
    padding: 3px 7px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    text-align: center;
}

.remove-img5{
	position: absolute;
    top: 14%;
    left: 39%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 10px;
    padding: 3px 7px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    text-align: center;
}

.remove-img6{
	position: absolute;
    top: 14%;
    left: 59%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 10px;
    padding: 3px 7px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    text-align: center;
}
/*line heading*/
.h4 {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.h4:before,
.h4:after {
	content: '';
	border-top: 1px solid;
	margin: 0 20px 0 0;
	flex: 1 0 20px;
}

.h4:after {
	margin: 0 0 0 20px;
}

#h4name{
	margin-top: 0px;
}

/*Overright Theme CSS*/

/*Header Search*/

.page-header>.container{
  padding-top: 50px;
  padding-bottom: 5px;
}

.form-control-lg {
    padding: .8rem 1rem !important;
}

.img-plus{
	width: 72px;
	height: 72px;
	border: 1px dotted #ccc;
	object-fit: contain;
	border-radius: 10px;
	cursor: pointer;
}

.btn-search-now{
	padding: 12px 23px !important;
	text-transform: uppercase;
	font-weight: 600;
}

.login-page .page-header:before, .profile-page .page-header:before {
	background-color: transparent;
}

.advance-search{
	margin: 0;
	border: 1px solid #E3E3E3;
	border-left: none;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-top-right-radius: 30px !important;
	border-bottom-right-radius: 30px !important;
	text-transform: uppercase;
	font-weight: 600;
}

.btn-live{
	font-size: 14px;
	padding: 15px;
	border: 1px solid #E3E3E3;
}

.navbar .navbar-nav .nav-link small{
	font-size: 11px;
}

.navbar .navbar-nav .nav-link:not(.btn) {
	text-transform: none;
	font-size: 1em;
	padding: 0.5rem 1rem;
	line-height: 1.1rem;
	font-weight: 600;
	text-align: right;
	text-transform: uppercase;
}


.navbar .navbar-nav .nav-link.contactUs{
	font-size: 1.2em !important;
	line-height: 1.2rem;
}



.navbar-nav .nav-item{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.navbar-nav .nav-item .btn{
	max-width: 260px;
}
.navbar-nav li:first-child:before {
  content: "";
}
.navbar-nav .btn:first-child{
	min-width: 160px;
	font-weight: 500;
	font-size: 14px;
	margin-left: 1rem;
}

.navbar-nav .nav-item form{ 
	margin-left: 1rem;
}

.modal-img {
	width: 100%;
    height: 230px;
    object-fit: contain;
}

.img-show{
	height: auto;
	max-height: 100px;
	width: auto;;
	border-radius: 6px;
}

select {
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    padding-top: 0px;
    background-size: 20px;
    color:#ffffff;
    font-size:30px;
  
  }
.select-custom i{
    position: absolute;
    right: 7%;
    pointer-events: none;
    top: 35%;
}
  select option {
    color:#424146;
    background:#ffffff;
}

/*data table customize*/

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	justify-content: center !important;
	margin-top: 20px !important;
}

.page-item.active .page-link{
	background-color: #00778b !important;
	border-color: #00778b !important;
	font-weight: 600;
}

.dataTables_length, .dataTables_info {
	display: none !important;
}
/*--------------*/

#counter img{
	width: 120px;
}
@media screen and (max-width: 991px) {
	.sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link:not(.btn) {
		text-align: left ;
	}
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
	width: 12px;
	height: 12px;
	background-color: #ffc72c;
	border-color: #ffc72c;
	top: 7px;
	left: 7px;
}

.form-check .form-check-label {
	padding-left: 30px;
	padding-right: 10px;
}

.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #767588;
	border: 1px solid #cacbd5;
}

.table tr{
	cursor: pointer;
}

section.lost-table .table thead{
	background: #f0f4f9;
}

form label{
	color: #00778b;
	font-weight: 600;
}


.user-img {
	max-width: 35px;
	height: 35px;
	width: 100%;
	object-fit: cover;
	display: block;
	margin-right: 5px;
	float: left;
}

.table td, .table th {
	vertical-align: baseline;
}

.page-header:after, .page-header:before {
	z-index: -1;
}

.page-header .toggle-items a{
	cursor: pointer;
	color: #767588;
}

.page-header .toggle-items a:hover{
	color: #00778b;
}

.page-header .toggle-items span{
	color: #cacbd5;
}

.page-header .toggle-items li.active a{
	color: #00778b;
}

.notification-dropdown p{
	white-space: normal;
}

.notification-dropdown .list-group-item{
	border: none;
	padding: 0;
	background: transparent;
}

.notification-dropdown .dropdown-item {
	border-bottom: 1px solid #f3f3f3;
}

.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 10px
}

.owl-carousel button.owl-dot span{
	background: none repeat scroll 0 0 #869791;
	border-radius: 20px;
	display: block;
	height: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	width: 12px;
}

.owl-carousel button.owl-dot.active span{
	background: none repeat scroll 0 0 #00778b;
	border-radius: 20px;
	display: block;
	height: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	width: 12px;
}
.owl-carousel p{
	font-size: 14px;
	margin-top: 5px;
}

#owl-carousel-updates .owl-item img {
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.image-upload>input {
	display: none;
}

.image-upload{
	display: inline-block;
}
.image-upload .card-image {
	border: 1px solid #E3E3E3;
	padding: 21px;
	height: 64px;
	width: 64px;
	cursor: pointer;
}
.image-upload .card-image i{
	font-size: 20px;
}

.text-instagram{
	color: magenta !important;
}
.font-md{
	font-size: 1.3em !important;
}
.font-sm{
	font-size: 1em !important;
}
.font-xs{
	font-size: 0.8em !important;
	font-weight: 500;
}
a.text-primary:focus, a.text-primary:hover {
	color: #ffc72c!important
}
.modal-header .close {
	border: 2px solid #535353;
	padding: 5px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 16px;
	font-weight: 100;
	color: #535353 !important;
}

/*.contentarea {
	min-height: calc(100vh - 146px)
}*/

.modal-content .modal-header button{
	z-index: 9;
}
.contentarea .camera-container{
	border: 1px solid #ccc; 
	padding: 20px 20px 10px 20px;
	border-radius: 15px; 
	max-width: 360px;
	 margin: 0 auto;
}

.icon-cam {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background-size: cover;
  cursor: pointer;
  margin-top: 10px;
}

.flip-cam {
  background-image: url(../img/flip.svg);
}

.flip-cam.active, .flip-cam:hover {
  background-image: url(../img/flip-active.svg);
}

.male-user {
  background-image: url(../img/male-user.svg);
}

.male-user.active, .male-user:hover {
  background-image: url(../img/male-user-active.svg);
}

.cancel-cross {
  background-image: url(../img/cancel.svg);
}

.cancel-cross.active, .cancel-cross:hover {
  background-image: url(../img/cancel-active.svg);
}

#personpic1{
	cursor: pointer;
}

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.75) url(../img/loading2.gif) no-repeat center center;
  z-index: 10000;
}

@media (min-width: 992px){
	.register-col {
		padding-right: 100px !important;
		padding-left: 100px !important;
	}

	.register-col.first:after {
		content: "";
		background-color: #c2c2c2;
		position: absolute;
		width: 1px;
		height: 60%;
		top: 20%;
		right: 0;
	}

	.notification-dropdown{
		min-width: 280px;
		width: 100%;
	}

	/*line heading*/
	.h4 {
		display: flex;
		width: 40%;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.h4:before,
	.h4:after {
		content: '';
		border-top: 1px solid #ffc72c;
		margin: 0 20px 0 0;
		flex: 1 0 20px;
	}

	.h4:after {
		margin: 0 0 0 20px;
	}

	.navbar-nav li{
		position: relative;
	}
	.navbar-nav li:before {
		content: " | ";
		position: absolute;
		color: transparent;
		left: -10px;
		border-right: 1px solid #cacbd5;
	}

	#counter img{
		width: 165px;
	}
}