
    <option selected value="0">Area</option>
    <option value="AB - Bahama Coral Island">AB - Bahama Coral Island</option>
	<option value="AB - Bahama Palm Shores">AB - Bahama Palm Shores</option>
	<option value="AB - Blackwood Village">AB - Blackwood Village</option>
	<option value="AB - Central Pines">AB - Central Pines</option>
	<option value="AB - Cooper's Town">AB - Cooper's Town</option>
	<option value="AB - Crossing Rocks">AB - Crossing Rocks</option>
	<option value="AB - Dundas Town">AB - Dundas Town</option>
    <option value="North Andros"> North Andros</option>
    <option value="Great Inagua"> Great Inagua</option>
    <option value="South Andros"> South Andros</option>
    <option value="Great Abac"> Great Abaco</option>
    <option value="Grand Bahama"> Grand Bahama</option>
    <option value="Long Island, Bahamas"> Long Island, Bahamas</option>
    <option value="Acklins"> Acklins</option>
    <option value="Eleuthera"> Eleuthera</option>
    <option value="Cat Island"> Cat Island</option>
    <option value="Mayaguana"> Mayaguana</option>
    <option value="Crooked Island, Bahamas"> Crooked Island, Bahamas</option>
    <option value="New Providence"> New Providence</option>
    <option value="Exuma"> Exuma</option>
    <option value="San Salvador Island"> San Salvador Island</option>
    <option value="Little Inagua"> Little Inagua</option>
    <option value="Rum Cay"> Rum Cay</option>
    <option value="Little Abaco">Little Abaco</option>
    <option value="Samana Cay">Samana Cay</option>
    <option value="Ragged Island"> Ragged Island</option>
    <option value="Berry Islands"> Berry Islands</option>
    <option value="Bimini"> Bimini</option>
