<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>bahamas</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'vendor/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
	<!-- Custom theme template -->
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body class="profile-page sidebar-collapse">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg bg-white " color-on-scroll="400">
		<div class="container">
			<div class="navbar-translate">
				<a class="navbar-brand" href="#">
					<span class="text-primary"> Find Me</span> <span class="text-secondary"> Bahamas </span>
					<img class="ml-1" src="{% static 'img/flag.jpg' %}" width="50">
				</a>
				<button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-bar top-bar"></span>
					<span class="navbar-toggler-bar middle-bar"></span>
					<span class="navbar-toggler-bar bottom-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="img/blurred-image-1.jpg">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link text-primary" href="#"><small>CONTACT US</small> <br/> +1-719-5842</a>
					</li>
					<li class="nav-item dropdown">
						<a class="btn btn-warning btn-round" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Rescuer Login
						</a>
						<div class="dropdown-menu dropdown-menu-right notification-dropdown" aria-labelledby="navbarDropdownMenuLink">
							<form class="px-3 pt-3 pb-3">
								<div class="form-group">
									<input type="text" class="form-control" id="userId" placeholder="User Id">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="passwordId" placeholder="Password">
								</div>
								<div class="form-check">
									<label class="form-check-label text-default">
										<input class="form-check-input" type="checkbox" value="">
										Remember 
										<span class="form-check-sign">
											<span class="check"></span>
										</span>
									</label>
								</div>
								<button type="submit" class="btn btn-primary btn-round btn-block mt-4">LOGIN</button>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End Navbar -->
	<div class="wrapper">

		<div class="page-header" style="background: #f0f4f9">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
						<div class="input-group">
							<input type="text" class="form-control bg-white" placeholder="Search by Name">
							<div class="input-group-append">
								<div class="input-group-text">
									<i class="fa fa-search"></i>
								</div>
								<button type="button" class="btn btn-neutral btn-lg advance-search" onclick="advance_search()"> Advance Search
									<span class="sr-only">Toggle Dropdown</span>
								</button>

							</div>
						</div>
						<strong>
							<a class="text-primary" href="#"> NAME </a> 
							<span class="px-2 text-primary"> | </span> 
							<a class="text-default" href="#"> PICTURE </a>
						</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="page-header-adv" style="background: #f0f4f9; display: none;">
			<form>
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-lg-8 col-xl-7 mx-auto card bg-white p-4 mt-4">
							<div class="row">
								<div class="col-md-6 col-12">
									<div class="form-group">
										<input type="text" class="form-control" id="firstName" placeholder="First Name" >
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="contactNo" placeholder="Contact Number">
									</div>
									<div class="form-group">
										<select class="form-control">
											<option selected>City</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
									<div class="form-group">
										<select class="form-control">
											<option selected>Nationality</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
								</div>
								<div class="col-md-6 col-12">
									<div class="form-group">
										<input type="text" class="form-control" id="lastName" placeholder="Last Name" >
									</div>
									<div class="form-group text-left">
										<div class="form-check form-check-radio form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked"> Male
												<span class="form-check-sign"></span>
											</label>
										</div>
										<div class="form-check form-check-radio form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
												<span class="form-check-sign"></span>
											</label>
										</div>
									</div>
									<div class="form-group">
										<select class="form-control">
											<option selected>Status</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
									<button type="submit" class="btn btn-primary btn-round btn-block mt-1">Submit</button>
								</div>
							</div>
							<button type="submit" class="btn btn-link mt-3 mb-0 text-primary font-weight-bold">Back to Normal Search</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<section class="lost-table mb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-8 col-xl-7 mx-auto">
						<h4 class="text-center mb-0"> If you can <span class="text-secondary"> find your lost one</span> then fill the form </h4>
						<h4 class="text-center mt-1"> We wil help you to find them </h4>
						<div class="row">
							<div class="col-md-12 col-lg-6 col-xl-6 mx-auto">
								<a href="/lostone" class="btn btn-primary btn-round btn-block mt-4 btn-lg">REGISTER YOUR LOST ONE</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<!-- Set up your HTML -->
						<h4 class="text-center text-primary mt-5 mb-5 h4"> RECENT UPDATES </h4>
						<div class="owl-carousel"  id="owl-carousel-updates">
							{% for lostone in lostones %}
							<div> <img src="{{lostone.person_pic1}}"/> 
								<p class="text-center text-danger"> <strong> {{lostone.status}} </strong> </p>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<!-- Set up your HTML -->
						<h4 class="text-center text-primary mt-5 mb-5 h4"> SPONSORS </h4>
						<div class="owl-carousel" id="owl-carousel-sponsors">
							<div> <img src="{% static 'img/addidas.jpg' %}"></div>
							<div> <img src="{% static 'img/roypsolo.jpg' %}"></div>
							<div> <img src="{% static 'img/cocacola.jpg' %}"></div>
							<div> <img src="{% static 'img/pepsi.jpg' %}"></div>
							<div> <img src="{% static 'img/microsoft.jpg' %}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-4 col-xl-4 mx-auto">
						<a href="#" class="btn btn-primary btn-round btn-block mt-4 btn-lg" data-toggle="modal" data-target="#register-sponsor">CLICK HERE TO SPONSOR</a>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer footer-default">
			<div class=" container ">
				<div class="copyright" id="copyright">
					&copy;
					<script>
						document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
					</script>, Designed by
					<a href="#" target="_blank"></a>. Coded by
					<a href="#" target="_blank">Abdullah Team</a>.
				</div>
			</div>
		</footer>
	</div>

	<!-- Modal Sponsor -->
	<div class="modal fade" id="register-sponsor" tabindex="-1" role="dialog" aria-labelledby="sponsorDetail" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center text-primary w-100" id="sponsorDetail">SPONSOR DETAILS</h5>
					<button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body px-5 mx-5">
					<p class="text-center text-default"> Please provide following details our team member will contact you </p>
					<form>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Company Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Contact No.">
						</div>
						<div class="form-group">
							<label for="noteTextArea">Upload Company Logo</label>
							<div class="clearfix"></div>
							<div class="image-upload">
								<label for="file-input">
									<div class="card-image text-default">
										<i class="fa fa-plus"></i>
									</div>
								</label>
								<input id="file-input" type="file" />
							</div>
						</div>
						<button type="button" class="btn btn-primary btn-round btn-block mt-4" ">Register</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'vendor/theme.js' %}" type="text/javascript"></script>

<script>
    function advance_search() {
    	$(".page-header").hide();
    	$(".page-header-adv").show();
	}

</script>

</body>

</html>
