{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="contentarea mt-5 mb-4 pt-5 pb-5 live-content">
  <div class="camera-container"> 
    <div class="camera" >
      <video id="video" autoplay>Video stream not available.</video>
   <!--    <button disabled id="flip-btn">
        Flip Camera
      </button> -->
      <button id="upload" style="display:none">Take photo</button>
    </div>
    <div class="row text-center">
      <div class="col">
        <div id="flip-btn" class="icon-cam flip-cam"></div>
      </div>
      <div class="col">
       <div class="icon-cam male-user" id="play" onclick="live_session()" title="Start Live search"></div>
       <div class="icon-cam male-user active" id="pause" onclick="stop_session()" style="display: none;" title="Stop Live search"></div>
     </div>
     <div class="col">
      <div class="icon-cam cancel-cross" onclick="close_session()" title="Close search"></div>
    </div>
  </div>
</div> 
<div style="display:none">
  <canvas id="canvas" class="hide">
  </canvas>
  <div class="output" class="hide">
    <img id="photo" alt="The screen capture will appear in this box.">
  </div>
</div>
</div>
<script>
  (function() {
  // The width and height of the captured photo. We will set the
  // width to the value defined here, but the height will be
  // calculated based on the aspect ratio of the input stream.

  var width = 320;    // We will scale the photo width to this
  var height = 0;     // This will be computed based on the input stream

  // |streaming| indicates whether or not we're currently streaming
  // video from the camera. Obviously, we start at false.

  var streaming = false;

  // The various HTML elements we need to configure or control. These
  // will be set by the startup() function.

  var video = null;
  var canvas = null;
  var photo = null;
  var startbutton = null;
  var today = new Date();
  let flipBtn = document.querySelector('#flip-btn');
  let defaultsOpts = { audio: false, video: true }
  let shouldFaceUser = true;

  function startup() {
    video = document.getElementById('video');
    canvas = document.getElementById('canvas');
    photo = document.getElementById('photo');
    startbutton = document.getElementById('upload');
    defaultsOpts.video = { facingMode: shouldFaceUser ? 'user' : 'environment' }

    navigator.mediaDevices.getUserMedia(defaultsOpts)
    .then(function(stream) {
      video.srcObject = stream;
      video.play();
    })
    .catch(function(err) {
      console.log("An error occurred: " + err);
    });

    video.addEventListener('canplay', function(ev){
      if (!streaming) {
        height = video.videoHeight / (video.videoWidth/width);

        // Firefox currently has a bug where the height can't be read from
        // the video, so we will make assumptions if this happens.

        if (isNaN(height)) {
          height = width / (4/3);
        }

        video.setAttribute('width', width);
        video.setAttribute('height', height);
        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);
        streaming = true;
      }
    }, false);

    startbutton.addEventListener('click', function(ev){
      takepicture();
      ev.preventDefault();
    }, false);

    clearphoto();

  }


  let supports = navigator.mediaDevices.getSupportedConstraints();
  if( supports['facingMode'] === true ) {
    flipBtn.disabled = false;
  }

  flipBtn.addEventListener('click', function(){
    if( video.srcObject == null ) return
  // we need to flip, stop everything
video.srcObject.getTracks().forEach(t => {
  t.stop();
});
  // toggle / flip
  shouldFaceUser = !shouldFaceUser;
  startup();
})

  function detectmob() { 
   if( navigator.userAgent.match(/Android/i)
     || navigator.userAgent.match(/webOS/i)
     || navigator.userAgent.match(/iPhone/i)
     || navigator.userAgent.match(/iPad/i)
     || navigator.userAgent.match(/iPod/i)
     || navigator.userAgent.match(/BlackBerry/i)
     || navigator.userAgent.match(/Windows Phone/i)
     ){
    $('#flipBtn').show();
    //$("p").css("background-color", "yellow");
  }
  else {
    flipBtn.style.display = 'none'
  }
}

  // Fill the photo with an indication that none has been
  // captured.

  function clearphoto() {
    var context = canvas.getContext('2d');
    context.fillStyle = "#AAA";
    context.fillRect(0, 0, canvas.width, canvas.height);

    var data = canvas.toDataURL('image/png');
    photo.setAttribute('src', data);
  }

  // Capture a photo by fetching the current contents of the video
  // and drawing it into a canvas, then converting that to a PNG
  // format data URL. By drawing it on an offscreen canvas and then
  // drawing that to the screen, we can change its size and/or apply
  // other changes before drawing it.

  function takepicture() {
    console.log(today)
    var context = canvas.getContext('2d');
    if (width && height) {
      canvas.width = width;
      canvas.height = height;
      context.drawImage(video, 0, 0, width, height);

      var token = '{{csrf_token}}';
      var data = canvas.toDataURL('image/png');
      var item_image = data.replace(/^data:image\/(png|jpg);base64,/, "")
      photo.setAttribute('src', data);
      var request = $.ajax({
        url: "{% url 'get_face' %}",
        headers: { "X-CSRFToken": token },
        type: "POST",
        data: {image : item_image},
        dataType: "json"
      });

      request.done(function(data) {
        if (data.contact && data.contact.id > 0){
          window.location.href = "{% url 'search' %}/"+data.contact.lost_one_id;
        }

      });

      request.fail(function(jqXHR, textStatus) {
        console.log( "Request failed: " + textStatus );
      });

    } else {
      clearphoto();
    }
  }

  // Set up our event listener to run the startup process
  // once loading is complete.
  window.addEventListener('load', detectmob, false);
  window.addEventListener('load', startup, false);
})();

$(document).ready(function() {
  var start = new Date();
  console.log("--------------------------------",start)



/*  var pic_interval = setInterval(function() {
    var end = new Date();
    $('#upload').trigger('click');
    new_time = (end - start)/1000
    console.log(parseInt(new_time))
    if (parseInt(new_time) >= 30)
    {
      clearInterval(pic_interval);
      window.location.href = "{% url 'search' %}"
    }
  }, 2000);*/
});
var pic_interval
function live_session(){
/*  $(".male-user").addClass("active");
  $(".male-user").attr("style", "pointer-events: none;");
  $(".cancel-cross").css({ 'pointer-events' : ''});*/
  $("#play").hide()
  $("#pause").show()
  console.log("==========start========")
  pic_interval = setInterval(function() {
    var start = new Date();
    var end = new Date();
    $('#upload').trigger('click');
    new_time = (end - start)/1000;
    console.log(parseInt(new_time));

  }, 2000);
}

function stop_session(){
  console.log("=====stop===========")
/*  $(".male-user").removeClass("active");
  $(".male-user").css({ 'pointer-events' : ''});
  $(".cancel-cross").attr("style", "pointer-events: none;");*/
  $("#pause").hide()
  $("#play").show()
  clearInterval(pic_interval);
}

function close_session(){
  console.log("=====close===========");
  window.location.href = "/";
}

</script>
{% endblock %}

