
{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="wrapper">
    <section class="lost-detail mt-5 mb-5">
        <form action="{% url 'lostone' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6 register-col first">
                        <h4 class="text-primary font-weight-bold">Fill the detail for your lost one </h4>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" name="first_name" id="firstName" placeholder="First Name*" {% if allow_shelter %} readonly  {% else %}   required {% endif %}>
                            <small class="form-text text-muted" style="display: none;">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" name="last_name" id="lastName" placeholder="Last Name" {% if allow_shelter %} readonly   {% endif %}>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" name="email" id="emailAdd" placeholder="Email Address" {% if allow_shelter %} readonly   {% endif %}>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control form-control-lg" name="lost_one_contact_no" id="contactNo" placeholder="Contact Number*" {% if allow_shelter %} readonly  {% else %}   required {% endif %}>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="male"
                                           id="male" value="option1" {% if contact is None%}checked="checked"{% endif %} {% if allow_shelter  %} readonly {% endif %}> Male
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="female"
                                           id="female" value="option2" {% if allow_shelter %} readonly {% endif %}> Female
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group select-custom">
                            <select name="age" class="form-control form-control-lg" {% if allow_shelter %} disabled {% endif %}>
                                <option value="0">Age</option>
                                {% for i in n%}
                                <option value="{{ i }}">{{i}}</option>
                                {% endfor %}
                            </select>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="form-group select-custom">
                            <select name="status" class="form-control form-control-lg" {% if allow_shelter %} disabled {% else %} required {% endif %}>
                                <option value="">Status*</option>
                                <option value="Need Evacuation">Need Evacuation</option>
                                <option value="Critical Evacuation">Critical Evacuation</option>
                                <option value="Searching">Searching</option>
                            </select>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div  class="form-group select-custom">
                            <select name="lost_one_area" class="form-control form-control-lg" {% if allow_shelter %} disabled  {% endif %}>
                                {% include "area_drop_down.html" %}
                            </select>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div  class="form-group select-custom">
                            <select name="country" class="form-control form-control-lg" {% if allow_shelter %} disabled {% else %} required {% endif %}>
                                <option value="">Country*</option>
                                <option value="Bahamas">Bahamas</option>
                            </select>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="form-group">
                            <label for="uploadPic">Upload Pics</label>

                           <div class="row">
                                <div class="col-md-12">
                                    <img class="img-plus mr-1" id="personpic1" name="12" src="{% static 'img/plus.jpg' %}" alt="Snow" onclick="openloader1();">
                                    <div class="remove-img1" style="display: none;" onclick="rem_img1()">
                                        <span class="fa fa-times"></span>
                                    </div>
                                    <img class="img-plus mr-1" id="personpic2" src="{% static 'img/plus.jpg' %}" alt="Forest"  onclick="openloader2();">
                                    <div class="remove-img2" style="display: none;" onclick="rem_img2()">
                                        <span class="fa fa-times"></span>
                                    </div>
                                    <img class="img-plus mr-1" id="personpic3" src="{% static 'img/plus.jpg' %}" alt="Mountains" onclick="openloader3();">
                                    <div class="remove-img3" style="display: none;" onclick="rem_img3()">
                                        <span class="fa fa-times"></span>
                                    </div>
                                </div>
                            </div>
                            <input type="file" id="uploadfile1" name="person_pic1" style="display: none;" onchange="upload_img1(this);" {% if allow_shelter %}  disabled  {% endif %}/>
                            <input type="file" id="uploadfile2" name="person_pic2" style="display: none;" onchange="upload_img2(this);"{% if allow_shelter %} disabled  {% endif %}/> 
                            <input type="file" id="uploadfile3" name="person_pic3" style="display: none;" onchange="upload_img3(this);"{% if allow_shelter %} disabled  {% endif %}/> 
                            <!-- Upload Image here -->
                        </div>
                    </div>
                    <div class="col-md-6 register-col">
                        <h4 class="text-primary font-weight-bold">{% if allow_shelter or user and 'AnonymousUser' not in user %} Current location {% else %} Where to contact if found ?{% endif %} </h4>
                        {% if allow_shelter or user and 'AnonymousUser' not in user %}
                        <div class="form-group select-custom">
                            <select name="shelter_home" id="shelter_home" class="form-control form-control-lg" required>
                                <option value="">Select Shelter</option>
                                {% for shelter_home in shelter_homes %}
                                    <option area={{shelter_home.area}} value="{{shelter_home.id}},|{{shelter_home.name}},|{{shelter_home.contact_number1}},|{{shelter_home.contact_number2}},|{{shelter_home.address}},|{{shelter_home.area}}">{{shelter_home.name}}</option>
                                {% endfor %}
                                <option value="Others">Others</option>
                            </select>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control" {% if allow_shelter or user and 'AnonymousUser' not in user %} placeholder="Shelter Name*" style="display: none;" {%else%} placeholder="Name*"  {% endif %} required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="contact_1" id="contact_1" class="form-control form-control-lg" placeholder="Contact Number 1*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="contact_2" id="contact_2" class="form-control form-control-lg" placeholder="Contact Number 2">
                        </div>

                        <div class="form-group select-custom">
                            <select name="contact_area" class="form-control form-control-lg">
                                 {% include "area_drop_down.html" %}
                            </select>
                            <i class="fas fa-chevron-down"></i>
                        </div>

                        <div class="form-group">
                            <input name="address" id="address" type="text" class="form-control form-control-lg" placeholder="Address">
                        </div>

                        <div class="form-group">
                            <label for="noteTextArea">Note</label>
                            <textarea name="note" id="note" class="form-control form-control-lg" id="noteTextArea" rows="6"></textarea>
                        </div>

						{% if user and 'AnonymousUser' not in user %}
                        
                        <div class="form-group">
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="rescued"
                                           id="rescued" value="option1" {% if shelter %} {% else %} checked="checked" {% endif %}> Rescued
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="died"
                                           id="died" value="option2"> Died
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uploadShelterPic">Upload Pics</label>

                           <div class="row">
                                <div class="col-md-12">
                                    <img class="img-plus mr-1" id="personpic4" name="12" src="{% static 'img/plus.jpg' %}" alt="Snow" onclick="openloader4();">
                                    <div class="remove-img4" style="display: none;" onclick="rem_img4()">
                                        <span class="fa fa-times"></span>
                                    </div>
                                    <img class="img-plus mr-1" id="personpic5" src="{% static 'img/plus.jpg' %}" alt="Forest"  onclick="openloader5();">
                                    <div class="remove-img5" style="display: none;" onclick="rem_img5()">
                                        <span class="fa fa-times"></span>
                                    </div>
                                    <img class="img-plus mr-1" id="personpic6" src="{% static 'img/plus.jpg' %}" alt="Mountains" onclick="openloader6();">
                                    <div class="remove-img6" style="display: none;" onclick="rem_img6()">
                                        <span class="fa fa-times"></span>
                                    </div>
                                </div>
                            </div>
                            <input type="file" id="uploadfile4" name="person_pic4" style="display: none;" onchange="upload_img4(this);"/>
                            <input type="file" id="uploadfile5" name="person_pic5" style="display: none;" onchange="upload_img5(this);"/> 
                            <input type="file" id="uploadfile6" name="person_pic6" style="display: none;" onchange="upload_img6(this);"/> 
                            <!-- Upload Image here -->
                        </div>

						{% endif %}
                        <input  type="checkbox" name="acc_pol" id="acc_pol" required />
                        <label for="submit">Accept policies</label>                        
                        <a href="#" data-toggle="modal" data-target="#policy-popup">policy here</a>                        
                        {% if allow_shelter %}
                        <button type="submit" class="btn btn-primary btn-round btn-block mt-4 btn-lg font-weight-bold">Update</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary btn-round btn-block mt-4 btn-lg font-weight-bold">Register</button>
                        {% endif %}                        
                    </div>
                </div>
            </div>
            {% if contact %}
            <input type="hidden" id="lost_one_id" name="lost_one_id" value="{{contact.lost_one.id}}">
            {% endif %}
        </form>
    </section>
    <!-- Modal Sponsor -->
    <div class="modal fade" id="policy-popup" tabindex="-1" role="dialog" aria-labelledby="policyDetail" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center text-primary w-100 font-weight-bold" id="policyDetail">Policy Document</h5>
                    <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-5 mx-5">
                    <p class="text-center text-default"> What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>

                </div>
            </div>
        </div>
    </div>    
<div id="loader"></div>



<script>
var spinner = $('#loader');
  $('form').submit(function(e) {
    $.notify("Access granted", "success");
        spinner.show();
  });
{% if contact %}
$(document).ready(function(){
    $('#firstName').val('{{contact.lost_one.first_name}}')
    $('#lastName').val('{{contact.lost_one.last_name}}')
    $('#emailAdd').val('{{contact.lost_one.email_address}}')
    $('#contactNo').val('{{contact.lost_one.contact_number}}')
    $('select[name="age"]').val('{{contact.lost_one.age}}')
    $('select[name="status"]').val('{{contact.lost_one.status}}')
    $('select[name="country"]').val('{{contact.lost_one.country}}')
    $('select[name="lost_one_area"]').val('{{contact.lost_one.area}}')

    
    gender = "{{contact.lost_one.gender}}"
    
    if (gender == 'male'){
        $('#male'). prop("checked", true)
    }
    else{
        $('#female'). prop("checked", true)
    }
    
    {% if shelter %}
        $('#name').val('{{contact.shelter}}')
        $('#address').val('{{contact.address}}')
        $('#note').val('{{contact.note}}')
        $('#contact_1').val('{{contact.contact_number1}}')
        $('#contact_2').val('{{contact.contact_number2}}')
        $('select[name="contact_area"]').val('{{contact.area}}')

        person_pic4 = '{{contact.person_pic4}}'
        person_pic5 = '{{contact.person_pic5}}'
        person_pic6 = '{{contact.person_pic6}}'

        if (person_pic4 != 'None'){
             $(".remove-img4").show()
             $('#personpic4').attr('src','{{contact.person_pic4}}')
        }

        if (person_pic5 != 'None'){
             $(".remove-img5").show()
             $('#personpic5').attr('src','{{contact.person_pic5}}')
        }
        if (person_pic6 != 'None'){
             $(".remove-img6").show()
             $('#personpic6').attr('src','{{contact.person_pic6}}')
        }        

        status = "{{contact.status}}"
        
        if (status == 'rescued'){
            $('#rescued'). prop("checked", true)
        }
        else{
            $('#died'). prop("checked", true)
        }

    {% endif %}

    //$('#personpic1').attr('src','{{contact.lost_one.person_pic1}}')
    person_pic1 = '{{contact.lost_one.person_pic1}}'
    person_pic2 = '{{contact.lost_one.person_pic2}}'
    person_pic3 = '{{contact.lost_one.person_pic3}}'

    if (person_pic1 != 'None'){
         $('#personpic1').attr('src','{{contact.lost_one.person_pic1}}')
    }

    if (person_pic2 != 'None'){
         $('#personpic2').attr('src','{{contact.lost_one.person_pic2}}')
    }
    if (person_pic3 != 'None'){
         $('#personpic3').attr('src','{{contact.lost_one.person_pic3}}')
    }
});
{% endif %}
    var image = 0
    // document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()));
    function openloader1() {
        $("#uploadfile1").click();
    }
    function openloader2() {
        $("#uploadfile2").click();
    }
    function openloader3() {
        $("#uploadfile3").click();
    }
    function rem_img1(){
        $('#personpic1').attr("src","{% static 'img/plus.jpg' %}")
        $(".remove-img1").hide()
    }
    function rem_img2(){
        $('#personpic2').attr("src","{% static 'img/plus.jpg' %}")
        $(".remove-img2").hide()
    }
    function rem_img3(){
        $('#personpic3').attr("src","{% static 'img/plus.jpg' %}")
        $(".remove-img3").hide()
    }    
    
    function upload_img1(input) {
        if (input.files && input.files[0]) {
            $(".remove-img1").show()
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#personpic1').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    
    function upload_img2(input) {
        
        if (input.files && input.files[0]) {
            $(".remove-img2").show()
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#personpic2').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function upload_img3(input) {
        if (input.files && input.files[0]) {
            $(".remove-img3").show()
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#personpic3').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function openloader4() {
        $("#uploadfile4").click();
    }
    function openloader5() {
        $("#uploadfile5").click();
    }
    function openloader6() {
        $("#uploadfile6").click();
    }
    function rem_img4(){
        $('#personpic4').attr("src","{% static 'img/plus.jpg' %}")
        $(".remove-img4").hide()
    }
    function rem_img5(){
        $('#personpic5').attr("src","{% static 'img/plus.jpg' %}")
        $(".remove-img5").hide()
    }
    function rem_img6(){
        $('#personpic6').attr("src","{% static 'img/plus.jpg' %}")
        $(".remove-img6").hide()
    }    
    
    function upload_img4(input) {
        if (input.files && input.files[0]) {
            $(".remove-img4").show()
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#personpic4').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    
    function upload_img5(input) {
        
        if (input.files && input.files[0]) {
            $(".remove-img5").show()
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#personpic5').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function upload_img6(input) {
        if (input.files && input.files[0]) {
            $(".remove-img6").show()
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#personpic6').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }    

$(document).ready(function(){
    $('#male').click(function(){
       $('#female'). prop("checked", false)
    });

    $('#female').click(function(){
       $('#male'). prop("checked", false)
    });
    $('#rescued').click(function(){
       $('#died'). prop("checked", false)
    });

    $('#died').click(function(){
       $('#rescued'). prop("checked", false)
    });
    $('#shelter_home').on('change', function() {
      if( this.value == 'Others'){
        $('#name').show();
        $('#name').val('').prop("readonly", false);
        $('#address').val('').prop("readonly", false);
        $('#contact_1').val('').prop("readonly", false);
        $('#contact_2').val('').prop("readonly", false);
        $('select[name="contact_area"]').val('').css({ 'pointer-events' : ''});
      }
      else{
        $('#name').hide();
        values = this.value.split(",|");
    
        $('#name').val(values[1]).prop("readonly", true);
        $('#address').val(values[4]).prop("readonly", true);
        $('#contact_1').val(values[2]).prop("readonly", true);
        $('#contact_2').val(values[3]).prop("readonly", true);
        $('select[name="contact_area"]').val(values[5]).attr("style", "pointer-events: none;");
      }
    });    

});
</script>


{% endblock %}